# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hkmc_210316\mdfstudio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
